@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css');

$font-face-head: 'Roboto Slab';
$font-face-body: 'Ubuntu';
$font-face-code: 'Ubuntu Mono';

$font-size-sm: 0.9rem;
$font-size-md: 1.4rem;
$font-size-lg: 1.8rem;

$color-text: #ffffff;
$color-link: #ccffaa;
$color-emph: #cc4614;

$bgcolor-base: lighten(black, 16.25%);
$bgcolor-drk1: darken($bgcolor-base, 12.5%);
$bgcolor-lgt1: lighten($bgcolor-base, 7.5%);
$bgcolor-lgt2: lighten($bgcolor-base, 20%);
$bgcolor-lgt3: lighten($bgcolor-base, 25%);
$bgcolor-lgt4: lighten($bgcolor-base, 16.25%);
$bgcolor-uwr: #ce6aff;

$spacing-sm: 0.2em;
$spacing-md: 1em;
$spacing-lg: 2em;

%field {
	background-color: #1e1e1e;
	border: 1px solid #191919;
	border-radius: 1em;
}

%icon {
	display: inline-block;
	font: normal normal normal $font-size-md/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%module {
	display: block;
	margin: $spacing-md 0;
}

@mixin body($bgcolor, $bgsize, $color) {
	$stripe_color: lighten($bgcolor, 1.5%);
	color: $color;
	background: {
		color: $bgcolor;
		image: linear-gradient(45deg, $stripe_color 25%, $bgcolor 25%, $bgcolor 50%, $stripe_color 50%, $stripe_color 75%, $bgcolor 75%, $bgcolor);
		size: $bgsize;
	}
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: $font-face-body, sans-serif;
	font-size: $font-size-md;
}

caption,
h1, h2,
p {
	font-family: $font-face-head, serif;
}

h1 {
	font-size: 3em;
	margin: 0;
}

code,
legend {
	@extend %module;
}

input,
label {
	line-height: 2em;
}

fieldset {
	border: none;
}

input {
	padding: 0 1em;
}

label {
	display: inline-block;
}

sup {
	line-height: 1em;
	vertical-align: text-top;
}

table {
	border-collapse: separate;
	color: $color-text;
	margin: 2em 0;
	text-align: left;
	width: 100%;
}

caption {
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1em;
	margin: 0 0 .5em;
	padding: 0 1em;
}

th {
	background: #1e1e1e;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	text-align: left;
	transition: .5s color;
	white-space: nowrap;
	border-top: 1px solid #191919;
	&:first-child {
		border-left: 1px solid #191919;
		border-top-left-radius: 1em;
	}
	&:last-child {
		border-right: 1px solid #191919;
		border-top-right-radius: 1em;
	}
}

td {
	background: #1e1e1e;
	position: relative;
	word-break: break-all;
	li {
		padding: .25em 0;
		margin-left: .75em;
	}
}

tbody tr {
	td {
		&:first-child {
			border-left: 1px solid #191919;
		}
		&:last-child {
			border-right: 1px solid #191919;
		}
	}
}

tbody .deleted td {
	height: 0;
	line-height: 0;
	font-size: 0;
	background: $color-emph;
	visibility: hidden;
	.meter {
		border: none;
	}
}

tbody tr:last-child td {
	border-bottom: 1px solid #191919;
	&:first-child {
		border-bottom-left-radius: 1em;
	}
	&:last-child {
		border-bottom-right-radius: 1em;
	}
}

tbody tr:hover td {
	background: #191919;
}

footer {
	p {
		font-size: $font-size-sm;
	}
}

.red {
	color: $color-emph;
}