@mixin body($bgcolor, $bgsize, $color) {
	$stripe_color: lighten($bgcolor, 1.5%);
	background: {
		color: $bgcolor;
		image: linear-gradient(45deg, $stripe_color 25%, $bgcolor 25%, $bgcolor 50%, $stripe_color 50%, $stripe_color 75%, $bgcolor 75%, $bgcolor);
		size: $bgsize;
	}
	color: $color;
	font: 100% map-get($fonts, "body"), sans-serif;
	text-align: center;
}

@mixin link($color, $hover) {
	color: $color;
	display: inline-block;
	text-decoration: none;
	transition: .5s color;
	&:hover {
		color: $hover;
		transition: .5s color;
	}
}

/**
 * Element definitions
 */
html {
	font-size: 62.5%;
}

body {
	font-size: 1.2em;
}

code {
	display: block;
	margin: 1em 0;
}

h1 {
	font-family: map-get($fonts, "heading"), serif;
	font-size: 3em;
	margin: 0;
	text-transform: lowercase;
}

p,
h2 {
	font-family: map-get($fonts, "heading"), serif;
}

input,
select,
button,
textarea {
	&:focus {
		outline: none;
	}
}

input,
label {
	box-sizing: border-box;
	color: #fff;
	line-height: 2em;
}

form {
	margin: 1em 0;
}

fieldset {
	border: none;
}

legend {
	margin: 1em 0;
	width: 100%;
}

input {
	background: #1e1e1e;
	border: 1px solid #191919;
	border-radius: 1em;
	padding: 0 1em;
	&:focus {
		box-shadow: 0 0 .5em #cfa;
	}
}

label {
	background: none;
	display: inline-block;
	position: relative;
}

sup {
	line-height: 1em;
	vertical-align: text-top;
}

table {
	border-collapse: separate;
	color: #fff;
	margin: 2em 0;
	text-align: left;
	width: 100%;
}

caption {
	box-sizing: border-box;
	font: bold 1.4em map-get($fonts, "heading"), serif;
	line-height: 1em;
	margin: 0 0 .5em 0;
	padding: 0 1em;
}

th {
	background: #1e1e1e;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	text-align: left;
	transition: .5s color;
	white-space: nowrap;
	border-top: 1px solid #191919;
	&:first-child {
		border-left: 1px solid #191919;
		border-top-left-radius: 1em;
	}
	&:last-child {
		border-right: 1px solid #191919;
		border-top-right-radius: 1em;
	}
}

td {
	background: #1e1e1e;
	position: relative;
	word-break: break-all;
	li {
		padding: .25em 0;
		margin-left: .75em;
	}
}

tbody tr {
	transition: all .5s;
	td {
		&:first-child {
			border-left: 1px solid #191919;
		}
		&:last-child {
			border-right: 1px solid #191919;
		}
	}
}

tbody .deleted td {
	height: 0;
	line-height: 0;
	font-size: 0;
	background: #cc4614;
	visibility: hidden;
	transition: all .5s;
	.meter {
		border: none;
	}
}

tbody tr:last-child td {
	border-bottom: 1px solid #191919;
	&:first-child {
		border-bottom-left-radius: 1em;
	}
	&:last-child {
		border-bottom-right-radius: 1em;
	}
}

tbody tr:hover td {
	background: #191919;
}

header {
	position: relative;
}

footer p {
	font-size: .7em;
}

.red {
	color: #cc4614;
}