.wr {
	&[data-country]:after {
		content: '';
		display: inline-block;
		width: 16px;
		height: 11px;
		margin-left: 0.5em;
		background: url(../img/flags.png) no-repeat;
	}
	&[data-country='ad']:after {
		background-position: -16px 0; }
	&[data-country='ae']:after {
		background-position: -32px 0; }
	&[data-country='af']:after {
		background-position: -48px 0; }
	&[data-country='ag']:after {
		background-position: -64px 0; }
	&[data-country='ai']:after {
		background-position: -80px 0; }
	&[data-country='al']:after {
		background-position: -96px 0; }
	&[data-country='am']:after {
		background-position: -112px 0; }
	&[data-country='an']:after {
		background-position: -128px 0; }
	&[data-country='ao']:after {
		background-position: -144px 0; }
	&[data-country='ar']:after {
		background-position: -160px 0; }
	&[data-country='as']:after {
		background-position: -176px 0; }
	&[data-country='at']:after {
		background-position: -192px 0; }
	&[data-country='au']:after {
		background-position: -208px 0; }
	&[data-country='aw']:after {
		background-position: -224px 0; }
	&[data-country='az']:after {
		background-position: -240px 0; }
	&[data-country='ba']:after {
		background-position: 0 -11px; }
	&[data-country='bb']:after {
		background-position: -16px -11px; }
	&[data-country='bd']:after {
		background-position: -32px -11px; }
	&[data-country='be']:after {
		background-position: -48px -11px; }
	&[data-country='bf']:after {
		background-position: -64px -11px; }
	&[data-country='bg']:after {
		background-position: -80px -11px; }
	&[data-country='bh']:after {
		background-position: -96px -11px; }
	&[data-country='bi']:after {
		background-position: -112px -11px; }
	&[data-country='bj']:after {
		background-position: -128px -11px; }
	&[data-country='bm']:after {
		background-position: -144px -11px; }
	&[data-country='bn']:after {
		background-position: -160px -11px; }
	&[data-country='bo']:after {
		background-position: -176px -11px; }
	&[data-country='br']:after {
		background-position: -192px -11px; }
	&[data-country='bs']:after {
		background-position: -208px -11px; }
	&[data-country='bt']:after {
		background-position: -224px -11px; }
	&[data-country='bv']:after {
		background-position: -240px -11px; }
	&[data-country='bw']:after {
		background-position: 0 -22px; }
	&[data-country='by']:after {
		background-position: -16px -22px; }
	&[data-country='bz']:after {
		background-position: -32px -22px; }
	&[data-country='ca']:after {
		background-position: -48px -22px; }
	&[data-country='catalonia']:after {
		background-position: -64px -22px; }
	&[data-country='cd']:after {
		background-position: -80px -22px; }
	&[data-country='cf']:after {
		background-position: -96px -22px; }
	&[data-country='cg']:after {
		background-position: -112px -22px; }
	&[data-country='ch']:after {
		background-position: -128px -22px; }
	&[data-country='ci']:after {
		background-position: -144px -22px; }
	&[data-country='ck']:after {
		background-position: -160px -22px; }
	&[data-country='cl']:after {
		background-position: -176px -22px; }
	&[data-country='cm']:after {
		background-position: -192px -22px; }
	&[data-country='cn']:after {
		background-position: -208px -22px; }
	&[data-country='co']:after {
		background-position: -224px -22px; }
	&[data-country='cr']:after {
		background-position: -240px -22px; }
	&[data-country='cu']:after {
		background-position: 0 -33px; }
	&[data-country='cv']:after {
		background-position: -16px -33px; }
	&[data-country='cw']:after {
		background-position: -32px -33px; }
	&[data-country='cy']:after {
		background-position: -48px -33px; }
	&[data-country='cz']:after {
		background-position: -64px -33px; }
	&[data-country='de']:after {
		background-position: -80px -33px; }
	&[data-country='dj']:after {
		background-position: -96px -33px; }
	&[data-country='dk']:after {
		background-position: -112px -33px; }
	&[data-country='dm']:after {
		background-position: -128px -33px; }
	&[data-country='do']:after {
		background-position: -144px -33px; }
	&[data-country='dz']:after {
		background-position: -160px -33px; }
	&[data-country='ec']:after {
		background-position: -176px -33px; }
	&[data-country='ee']:after {
		background-position: -192px -33px; }
	&[data-country='eg']:after {
		background-position: -208px -33px; }
	&[data-country='eh']:after {
		background-position: -224px -33px; }
	&[data-country='england']:after {
		background-position: -240px -33px; }
	&[data-country='er']:after {
		background-position: 0 -44px; }
	&[data-country='es']:after {
		background-position: -16px -44px; }
	&[data-country='et']:after {
		background-position: -32px -44px; }
	&[data-country='eu']:after {
		background-position: -48px -44px; }
	&[data-country='fi']:after {
		background-position: -64px -44px; }
	&[data-country='fj']:after {
		background-position: -80px -44px; }
	&[data-country='fk']:after {
		background-position: -96px -44px; }
	&[data-country='fm']:after {
		background-position: -112px -44px; }
	&[data-country='fo']:after {
		background-position: -128px -44px; }
	&[data-country='fr']:after {
		background-position: -144px -44px; }
	&[data-country='ga']:after {
		background-position: -160px -44px; }
	&[data-country='gb']:after {
		background-position: -176px -44px; }
	&[data-country='gd']:after {
		background-position: -192px -44px; }
	&[data-country='ge']:after {
		background-position: -208px -44px; }
	&[data-country='gf']:after {
		background-position: -224px -44px; }
	&[data-country='gg']:after {
		background-position: -240px -44px; }
	&[data-country='gh']:after {
		background-position: 0 -55px; }
	&[data-country='gi']:after {
		background-position: -16px -55px; }
	&[data-country='gl']:after {
		background-position: -32px -55px; }
	&[data-country='gm']:after {
		background-position: -48px -55px; }
	&[data-country='gn']:after {
		background-position: -64px -55px; }
	&[data-country='gp']:after {
		background-position: -80px -55px; }
	&[data-country='gq']:after {
		background-position: -96px -55px; }
	&[data-country='gr']:after {
		background-position: -112px -55px; }
	&[data-country='gs']:after {
		background-position: -128px -55px; }
	&[data-country='gt']:after {
		background-position: -144px -55px; }
	&[data-country='gu']:after {
		background-position: -160px -55px; }
	&[data-country='gw']:after {
		background-position: -176px -55px; }
	&[data-country='gy']:after {
		background-position: -192px -55px; }
	&[data-country='hk']:after {
		background-position: -208px -55px; }
	&[data-country='hm']:after {
		background-position: -224px -55px; }
	&[data-country='hn']:after {
		background-position: -240px -55px; }
	&[data-country='hr']:after {
		background-position: 0 -66px; }
	&[data-country='ht']:after {
		background-position: -16px -66px; }
	&[data-country='hu']:after {
		background-position: -32px -66px; }
	&[data-country='ic']:after {
		background-position: -48px -66px; }
	&[data-country='id']:after {
		background-position: -64px -66px; }
	&[data-country='ie']:after {
		background-position: -80px -66px; }
	&[data-country='il']:after {
		background-position: -96px -66px; }
	&[data-country='im']:after {
		background-position: -112px -66px; }
	&[data-country='in']:after {
		background-position: -128px -66px; }
	&[data-country='io']:after {
		background-position: -144px -66px; }
	&[data-country='iq']:after {
		background-position: -160px -66px; }
	&[data-country='ir']:after {
		background-position: -176px -66px; }
	&[data-country='is']:after {
		background-position: -192px -66px; }
	&[data-country='it']:after {
		background-position: -208px -66px; }
	&[data-country='je']:after {
		background-position: -224px -66px; }
	&[data-country='jm']:after {
		background-position: -240px -66px; }
	&[data-country='jo']:after {
		background-position: 0 -77px; }
	&[data-country='jp']:after {
		background-position: -16px -77px; }
	&[data-country='ke']:after {
		background-position: -32px -77px; }
	&[data-country='kg']:after {
		background-position: -48px -77px; }
	&[data-country='kh']:after {
		background-position: -64px -77px; }
	&[data-country='ki']:after {
		background-position: -80px -77px; }
	&[data-country='km']:after {
		background-position: -96px -77px; }
	&[data-country='kn']:after {
		background-position: -112px -77px; }
	&[data-country='kp']:after {
		background-position: -128px -77px; }
	&[data-country='kr']:after {
		background-position: -144px -77px; }
	&[data-country='kurdistan']:after {
		background-position: -160px -77px; }
	&[data-country='kw']:after {
		background-position: -176px -77px; }
	&[data-country='ky']:after {
		background-position: -192px -77px; }
	&[data-country='kz']:after {
		background-position: -208px -77px; }
	&[data-country='la']:after {
		background-position: -224px -77px; }
	&[data-country='lb']:after {
		background-position: -240px -77px; }
	&[data-country='lc']:after {
		background-position: 0 -88px; }
	&[data-country='li']:after {
		background-position: -16px -88px; }
	&[data-country='lk']:after {
		background-position: -32px -88px; }
	&[data-country='lr']:after {
		background-position: -48px -88px; }
	&[data-country='ls']:after {
		background-position: -64px -88px; }
	&[data-country='lt']:after {
		background-position: -80px -88px; }
	&[data-country='lu']:after {
		background-position: -96px -88px; }
	&[data-country='lv']:after {
		background-position: -112px -88px; }
	&[data-country='ly']:after {
		background-position: -128px -88px; }
	&[data-country='ma']:after {
		background-position: -144px -88px; }
	&[data-country='mc']:after {
		background-position: -160px -88px; }
	&[data-country='md']:after {
		background-position: -176px -88px; }
	&[data-country='me']:after {
		background-position: -192px -88px; }
	&[data-country='mg']:after {
		background-position: -208px -88px; }
	&[data-country='mh']:after {
		background-position: -224px -88px; }
	&[data-country='mk']:after {
		background-position: -240px -88px; }
	&[data-country='ml']:after {
		background-position: 0 -99px; }
	&[data-country='mm']:after {
		background-position: -16px -99px; }
	&[data-country='mn']:after {
		background-position: -32px -99px; }
	&[data-country='mo']:after {
		background-position: -48px -99px; }
	&[data-country='mp']:after {
		background-position: -64px -99px; }
	&[data-country='mq']:after {
		background-position: -80px -99px; }
	&[data-country='mr']:after {
		background-position: -96px -99px; }
	&[data-country='ms']:after {
		background-position: -112px -99px; }
	&[data-country='mt']:after {
		background-position: -128px -99px; }
	&[data-country='mu']:after {
		background-position: -144px -99px; }
	&[data-country='mv']:after {
		background-position: -160px -99px; }
	&[data-country='mw']:after {
		background-position: -176px -99px; }
	&[data-country='mx']:after {
		background-position: -192px -99px; }
	&[data-country='my']:after {
		background-position: -208px -99px; }
	&[data-country='mz']:after {
		background-position: -224px -99px; }
	&[data-country='na']:after {
		background-position: -240px -99px; }
	&[data-country='nc']:after {
		background-position: 0 -110px; }
	&[data-country='ne']:after {
		background-position: -16px -110px; }
	&[data-country='nf']:after {
		background-position: -32px -110px; }
	&[data-country='ng']:after {
		background-position: -48px -110px; }
	&[data-country='ni']:after {
		background-position: -64px -110px; }
	&[data-country='nl']:after {
		background-position: -80px -110px; }
	&[data-country='no']:after {
		background-position: -96px -110px; }
	&[data-country='np']:after {
		background-position: -112px -110px; }
	&[data-country='nr']:after {
		background-position: -128px -110px; }
	&[data-country='nu']:after {
		background-position: -144px -110px; }
	&[data-country='nz']:after {
		background-position: -160px -110px; }
	&[data-country='om']:after {
		background-position: -176px -110px; }
	&[data-country='pa']:after {
		background-position: -192px -110px; }
	&[data-country='pe']:after {
		background-position: -208px -110px; }
	&[data-country='pf']:after {
		background-position: -224px -110px; }
	&[data-country='pg']:after {
		background-position: -240px -110px; }
	&[data-country='ph']:after {
		background-position: 0 -121px; }
	&[data-country='pk']:after {
		background-position: -16px -121px; }
	&[data-country='pl']:after {
		background-position: -32px -121px; }
	&[data-country='pm']:after {
		background-position: -48px -121px; }
	&[data-country='pn']:after {
		background-position: -64px -121px; }
	&[data-country='pr']:after {
		background-position: -80px -121px; }
	&[data-country='ps']:after {
		background-position: -96px -121px; }
	&[data-country='pt']:after {
		background-position: -112px -121px; }
	&[data-country='pw']:after {
		background-position: -128px -121px; }
	&[data-country='py']:after {
		background-position: -144px -121px; }
	&[data-country='qa']:after {
		background-position: -160px -121px; }
	&[data-country='re']:after {
		background-position: -176px -121px; }
	&[data-country='ro']:after {
		background-position: -192px -121px; }
	&[data-country='rs']:after {
		background-position: -208px -121px; }
	&[data-country='ru']:after {
		background-position: -224px -121px; }
	&[data-country='rw']:after {
		background-position: -240px -121px; }
	&[data-country='sa']:after {
		background-position: 0 -132px; }
	&[data-country='sb']:after {
		background-position: -16px -132px; }
	&[data-country='sc']:after {
		background-position: -32px -132px; }
	&[data-country='scotland']:after {
		background-position: -48px -132px; }
	&[data-country='sd']:after {
		background-position: -64px -132px; }
	&[data-country='se']:after {
		background-position: -80px -132px; }
	&[data-country='sg']:after {
		background-position: -96px -132px; }
	&[data-country='sh']:after {
		background-position: -112px -132px; }
	&[data-country='si']:after {
		background-position: -128px -132px; }
	&[data-country='sk']:after {
		background-position: -144px -132px; }
	&[data-country='sl']:after {
		background-position: -160px -132px; }
	&[data-country='sm']:after {
		background-position: -176px -132px; }
	&[data-country='sn']:after {
		background-position: -192px -132px; }
	&[data-country='so']:after {
		background-position: -208px -132px; }
	&[data-country='somaliland']:after {
		background-position: -224px -132px; }
	&[data-country='sr']:after {
		background-position: -240px -132px; }
	&[data-country='ss']:after {
		background-position: 0 -143px; }
	&[data-country='st']:after {
		background-position: -16px -143px; }
	&[data-country='sv']:after {
		background-position: -32px -143px; }
	&[data-country='sx']:after {
		background-position: -48px -143px; }
	&[data-country='sy']:after {
		background-position: -64px -143px; }
	&[data-country='sz']:after {
		background-position: -80px -143px; }
	&[data-country='tc']:after {
		background-position: -96px -143px; }
	&[data-country='td']:after {
		background-position: -112px -143px; }
	&[data-country='tf']:after {
		background-position: -128px -143px; }
	&[data-country='tg']:after {
		background-position: -144px -143px; }
	&[data-country='th']:after {
		background-position: -160px -143px; }
	&[data-country='tj']:after {
		background-position: -176px -143px; }
	&[data-country='tk']:after {
		background-position: -192px -143px; }
	&[data-country='tl']:after {
		background-position: -208px -143px; }
	&[data-country='tm']:after {
		background-position: -224px -143px; }
	&[data-country='tn']:after {
		background-position: -240px -143px; }
	&[data-country='to']:after {
		background-position: 0 -154px; }
	&[data-country='tr']:after {
		background-position: -16px -154px; }
	&[data-country='tt']:after {
		background-position: -32px -154px; }
	&[data-country='tv']:after {
		background-position: -48px -154px; }
	&[data-country='tw']:after {
		background-position: -64px -154px; }
	&[data-country='tz']:after {
		background-position: -80px -154px; }
	&[data-country='ua']:after {
		background-position: -96px -154px; }
	&[data-country='ug']:after {
		background-position: -112px -154px; }
	&[data-country='um']:after {
		background-position: -128px -154px; }
	&[data-country='us']:after {
		background-position: -144px -154px; }
	&[data-country='uy']:after {
		background-position: -160px -154px; }
	&[data-country='uz']:after {
		background-position: -176px -154px; }
	&[data-country='va']:after {
		background-position: -192px -154px; }
	&[data-country='vc']:after {
		background-position: -208px -154px; }
	&[data-country='ve']:after {
		background-position: -224px -154px; }
	&[data-country='vg']:after {
		background-position: -240px -154px; }
	&[data-country='vi']:after {
		background-position: 0 -165px; }
	&[data-country='vn']:after {
		background-position: -16px -165px; }
	&[data-country='vu']:after {
		background-position: -32px -165px; }
	&[data-country='wales']:after {
		background-position: -48px -165px; }
	&[data-country='wf']:after {
		background-position: -64px -165px; }
	&[data-country='ws']:after {
		background-position: -80px -165px; }
	&[data-country='ye']:after {
		background-position: -96px -165px; }
	&[data-country='yt']:after {
		background-position: -112px -165px; }
	&[data-country='za']:after {
		background-position: -128px -165px; }
	&[data-country='zanzibar']:after {
		background-position: -144px -165px; }
	&[data-country='zm']:after {
		background-position: -160px -165px; }
	&[data-country='zw']:after {
		background-position: -176px -165px; }
}