@media screen and (min-width: 1260px) {

	body {
		font-size: 1.4rem;
	}

	td {
		padding: .5em 20px;
	}

	th {
		padding: 1em 20px .5em;
	}

	.container {
		max-width: 1920px;
	}

}

@media screen and (min-width: 980px) and (max-width: 1259px) {

	body {
		font-size: 1.3rem;
	}

	td {
		padding: .5em 15px;
	}

	th {
		padding: 1em 15px .5em;
	}

}

@media screen and (min-width: 480px) and (max-width: 979px) {

	body {
		font-size: 1.2rem;
	}

	td {
		padding: .4em 10px;
	}

	th {
		padding: .8em 10px .4em;
	}

}

@media screen and (max-width: 479px) {

	body {
		font-size: 1.1rem;
	}

	thead {
		display: none;
	}

	tbody {
		tr {
			&:last-child {
				td {
					padding-bottom: .4em;
					border-bottom: none;
					&:first-child {
						border-bottom-left-radius: 0;
					}
					&:last-child {
						padding-bottom: .4em;
						border-bottom: 1px solid $bgcolor-drk2;
						border-bottom-right-radius: 0;
					}
				}
			}
		}
		.current-map,
		.players {
			ul {
				right: 0;
				left: 100%;
				margin-right: 0;
				margin-left: $spacing-sm;
			}
		}
	}

	td {
		clear: left;
		display: block;
		width: 100%;
		padding: .4em 5px;
		border-left: 1px solid #1a1a1a;
		border-right: 1px solid #1a1a1a;
		&:before {
			float: left;
			display: block;
			width: 30%;
			font-weight: bold;
		}
		&:first-child {
			border-top: 1px solid #1a1a1a;
		}
		&:last-child {
			margin-bottom: $spacing-sm;
			border-bottom: 1px solid #1a1a1a;
		}
		&.w20 {
			width: 100%;
		}
	}

	th {
		padding: .8em 5px .4em;
	}

	/* .name,
	.points,
	.cp,
	.performance,
	.percentile,
	.avg-rank,
	.num-uwrs,

	.extra {
		display: none !important;
	} */

	.container {
		min-width: 320px;
	}

	.info {
		&[data-description] {
			display: none;
		}
	}

	/**
	 * Alternate table headings for small devices
	 */
	.average:before {
			content: 'Average' }
	.cp:before {
			content: 'CP'; }
	.current-map:before {
			content: 'Current Map';
	}
	.gc:before {
			content: 'GC'; }
	.mapdate:before {
			content: 'Date'; }
	.mapname:before {
			content: 'Map'; }
	.maptime:before {
			content: 'Time'; }
	.name:before {
			content: 'Player'; }
	.number:before {
			content: '#'; }
	.numrecs:before {
			content: 'Records'; }
	.percent:before {
			content: 'Percent'; }
	.players:before {
			content: 'Players'; }
	.points:before {
			content: 'Points'; }
	.ranked:before {
			content: 'Ranked'; }
	.server:before {
			content: 'Server'; }
	.uwrs:before {
			content: 'UWRs' }
	.weapon:before {
			content: 'Weapon'; }
	.when:before {
			content: 'When'; }
	.performance {
		&:before {
			content: 'Performance';
		}
		.meter {
			width: 30%;
		}
	}
}