@media screen and (min-width: 1260px) {

	body {
		font-size: 1.4rem;
	}

	td {
		padding: .5em 20px;
	}

	th {
		padding: 1em 20px .5em;
	}

	.container {
		max-width: 1920px;
	}

}

@media screen and (min-width: 980px) and (max-width: 1259px) {

	body {
		font-size: 1.3rem;
	}

	td {
		padding: .5em 15px;
	}

	th {
		padding: 1em 15px .5em;
	}

}

@media screen and (min-width: 768px) and (max-width: 979px) {

	body {
		font-size: 1.2rem;
	}

	td {
		padding: .4em 10px;
	}

	th {
		padding: .8em 10px .4em;
	}

}

@media screen and (max-width: 767px) {

	body {
		font-size: 1.1rem;
	}

	td {
		padding: .4em 5px;
	}

	th {
		padding: .8em 5px .4em;
	}

	/* .name,
	.points,
	.cp,
	.performance,
	.percentile,
	.avg-rank,
	.num-uwrs, */

	.extra
	 {
		display: none;
	}

	.container {
		min-width: 320px;
	}

	.info {
		&[data-description] {
			display: none;
		}
	}

}