@media screen and (min-width: 1260px) {
  body {
    font-size: 110%; }

  .container {
    max-width: 1920px; }

  th {
    padding: 0 20px; }

  td {
    padding: 0.5em 20px; } }
@media screen and (min-width: 980px) and (max-width: 1259px) {
  body {
    font-size: 100%; }

  th {
    padding: 0 15px; }

  td {
    padding: 0.5em 15px; } }
@media screen and (min-width: 768px) and (max-width: 979px) {
  body {
    font-size: 90%; }

  th {
    padding: 0 10px; }

  td {
    padding: 0.4em 10px; }

  th.name,
  td.name {
    display: none; } }
@media screen and (max-width: 767px) {
  body {
    font-size: 80%; }

  .container {
    min-width: 480px; }

  table th {
    padding: 0 5px; }

  td {
    padding: 0.4em 5px; }

  th.name,
  td.name,
  th.points,
  td.points,
  th.cp,
  td.cp,
  th.performance,
  td.performance {
    display: none; } }
