// Define variables
$fonts: ("heading": "Roboto Slab", "body": "Ubuntu", "mono": "Ubuntu Mono");

// Import helpers
@import "includes/base";

// Define custom base elements
body {
	@include body($bgcolor: #2a2a2a, $bgsize: 20px 20px, $color: #fff);
}

a {
	@include link($color: #cfa, $hover: #fff);
}


/**
 * Class definitions
 */

.container {
	margin: 2em auto;
	width: 90%;
}

.caption {
	width: 2em;
}

.nav {
	margin-bottom: 2em;
	position: relative;
	z-index: 1;
	ul {
		box-sizing: border-box;
		list-style: none;
		margin: 0;
		padding: 0;
	}
		li {
			display: inline;
			&:after {
				content: " | ";
			}
			&:last-child:after {
				content: "";
			}
		}
	form {
		clear: both;
	}
}

.wr-time {
	color: #cc4614;
	text-shadow: 1px 1px 0 #000;
}

.info {
	font-size: .6em;
	line-height: 1em;
	position: relative;
	vertical-align: text-top;
	span {
		background: #0a0a0a;
		box-shadow: 0 0 .5em rgba(0, 0, 0, .2),
					inset 0 1px #3a3a3a;
		border: 1px solid #000;
		border-radius: .5em;
		display: none;
		color: #fff;
		font-size: .8rem;
		margin: 0;
		padding: .5em;
		position: absolute;
		text-align: left;
		top: -50%;
		white-space: normal;
		width: 100px;
		z-index: 1;
	}
}

.fa-search:before {
	color: #5e5e5e;
	position: absolute;
	right: 1em;
	top: .5em;
	transform: scale(-1, 1);
}

.sort:hover {
	background-image: radial-gradient(ellipse 200% 50% at 50% 100%, rgba(255, 255, 255, .2), rgba(255, 255, 255, 0) 20%);
	color: #ccc;
	cursor: pointer;
	transition: .5s color;
}

caption,
.sort {
	&:hover .info span {
		display: block;
	}
}

th {
	.fa {
		color: #cfa;
		text-align: center;
		transition: .5s color;
		width: 20px;
	}
	.info {
		color: #fff;
		width: auto;
	}
}

th:hover .fa {
	color: #fff;
	cursor: pointer;
	transition: .5s color;
}

.server,
.players {
	position: relative;
	ul {
		background: #0a0a0a;
		box-shadow: 0 0 .5em rgba(0, 0, 0, .2),
					inset 0 1px #3a3a3a;
		border: 1px solid #000;
		border-radius: .5em;
		display: none;
		color: #fff;
		font-size: .8em;
		list-style-position: inside;
		margin: 0;
		padding: .25em 0;
		position: absolute;
		top: -.75em;
		width: 200px;
		z-index: 1;
	}
}

.players ul {
	right: -2em;
}

.server {
	ul {
		left: 4em;
		li:first-child {
			list-style: none;
			margin: 0 .75em;
			text-decoration: underline;
		}
	}
}

.players,
.server {
	a:hover ul {
		display: block;
	}
}

.type img {
	margin-left: .5em;
}

tbody {
	.datetime {
		width: 20%;
	}
	.performance {
		width: 20%;
	}
}

tbody {
	.date,
	.diff {
		display: block;
		position: relative;
	}
	.perc,
	.time {
		display: none;
	}
}

tr:hover {
	.perc,
	.time {
		display: block;
	}
	.date,
	.diff {
		display: none;
	}
}

.meter {
	background: #6a6a6a;
	border: 1px solid #000;
	box-shadow: inset 0 .25em 2px #535353;
	display: inline-block;
	height: .5em;
	line-height: .5em;
	position: relative;
	width: 50%;
	div {
		box-shadow: 1px 0 .2em rgba(30, 30, 30, .3),
					inset 0 -.25em .25em rgba(30, 30, 30, .3);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		z-index: 1;
	}
	span {
		font-size: .75em;
		left: 100%;
		margin: 0 0 0 .5em;
		position: absolute;
		top: 0;
		word-break: normal;
		z-index: 2;
	}
}

.uwr {
	background: #ce6aff;
	background: linear-gradient(to left, #ce6aff 0%, #c961fc 0%, #5fffff 34%, #66f962 65%, #ff6060 100%, #ff696a 100%);
}

.number {
	word-break: normal;
}


/**
 * SVG Definitions
 */

#logo {
	border: 1px solid #191919;
	margin-bottom: .75em;
	//transform: rotate(30deg);
}

.logo_1 {
	fill: #cfa;
	transition: .5s;
}

.logo_2 {
	fill: #9c7;
	transition: .5s;
}

.logo_3 {
	fill: #694;
	transition: .5s;
}

#logo:hover {
	.logo_1 {
		fill: #9c7;
		transition: .5s;
	}
	.logo_2 {
		fill: #694;
		transition: .5s;
	}
	.logo_3 {
		fill: #cfa;
		transition: .5s;
	}
}

/*.tbl-wrap {
	position: relative;
	.tbl-scroll {
		overflow: auto;
		height: 400px;
		margin-top: 2em;
		caption,
		thead {
			position: absolute;
			left: 0;
			z-index: 2;
		}
		caption {
			top: -4.5em;
		}
		thead {
			top: -2em;
		}
		table {
			margin: 0;
		}
		.number {
			width: 10%;
		}
		.name {
			width: 30%;
		}
		.points {
			width: 12.5%;
		}
		.percent {
			width: 12.5%;
		}
		.ranked {
			width: 12.5%;
		}
		.average {
			width: 12.5%;
		}
		.uwrs {
			width: 10%;
		}
	}
}*/