@import 'includes/base';
@import 'includes/flags';
@import 'includes/responsive';

/**
 * Elements
 */
body {
	@include body($bgcolor: $bgcolor-base, $bgsize: 20px 20px, $color: $color-text);
}

a {
	color: $color-link;
	display: inline-block;
	text-decoration: none;
	transition: .5s color;
	&:hover {
		color: $color-text;
		transition: .5s color;
	}
}

button {
	@extend %button;
}

input {
	@extend %field;
}

nav {
	a {
		&:not(:last-child):after {
			content: ' | ';
			display: inline;
			color: $color-text;
		}
	}
}

table {
	border-collapse: separate;
	width: 100%;
	margin: $spacing-md 0;
	color: $color-text;
}

caption {
	font-size: $font-size-lg;
	font-weight: bold;
	text-align: center;
	margin-bottom: $spacing-sm / 2;
}

tr {
	position: relative;
	&:last-child {
		td {
			padding-bottom: $spacing-md;
			border-bottom: 1px solid $bgcolor-drk2;
			&:first-child {
				border-bottom-left-radius: 1em;
			}
			&:last-child {
				border-bottom-right-radius: 1em;
			}
		}
	}
	&:hover {
		td {
			background-color: $bgcolor-drk2;
		}
		.time,
		.perc {
			display: block;
		}
		.date,
		.diff {
			display: none;
		}
	}
}

th {
	background-color: $bgcolor-drk3;
	font-size: $font-size-rg;
	font-weight: bold;
	text-align: left;
	transition: .5s color;
	white-space: nowrap;
	border-top: 1px solid $bgcolor-drk2;
	&:first-child {
		border-left: 1px solid $bgcolor-drk2;
		border-top-left-radius: 1em;
	}
	&:last-child {
		border-right: 1px solid $bgcolor-drk2;
		border-top-right-radius: 1em;
	}
}

td {
	background-color: $bgcolor-drk3;
	&:first-child {
		border-left: 1px solid $bgcolor-drk2;
	}
	&:last-child {
		border-right: 1px solid $bgcolor-drk2;
	}
	li {
		margin-left: .75em;
		padding: .25em 0;
	}
}



/**
 * Icons
 */
.chart {
	&:after {
		content: '\f080';
		margin-left: $spacing-sm / 2;
		@extend %icon;
	}
}

.info {
	position: relative;
	&[data-description]:hover {
		&:before {
			content: attr(data-description);
			display: block;
			width: $spacing-lg * 10;
			padding: .5em;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			line-height: 1.3;
			font-size: 1.2rem;
			font-weight: normal;
			white-space: normal;
			color: $color-text;
			background-color: $bgcolor-drk1;
			box-shadow: 0 0 .5em rgba(0,0,0,.2),
						inset 0 1px $bgcolor-lgt1;
			border: 1px solid #000;
			border-radius: .5em;
		}
	}
}

.load-time {
	text-align: center;
	&:before {
		content: '\f0e7';
		margin-right: $spacing-sm / 2;
		@extend %icon;
	}
}

.records {
	&:after {
		content: '\f1c0';
	}
}

.search {
	position: relative;
	margin: $spacing-md 0;
	&:after {
		content: '\f002';
		position: absolute;
		right: 1em;
		top: .5em;
		transform: scale(-1, 1);
		color: $bgcolor-lgt2;
		@extend %icon;
	}
}

.results {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	a {
		padding: #{$spacing-sm / 2} $spacing-md;
	}
}

.sort {
	&:after {
		content: '\f0dc';
		margin-left: $spacing-sm / 2;
		color: $color-link;
		@extend %icon;
	}
	&:hover {
		background-image: radial-gradient(ellipse 200% 50% at 50% 100%, rgba(255,255,255,.2), rgba(255,255,255,0) 20%);
		color: #ccc;
		cursor: pointer;
		transition: .5s color;
	}
}



/*
 * Classes
 */
.container {
	width: 90%;
	@extend %centerblock;
}

.invalid,
.pagination {
	text-align: center;
}

h1, h2 {
	margin-top: $spacing-sm;
}

.player-name,
.player-points {
	text-align: center;
}

.player-name {
	margin-top: $spacing-sm;
}

h1, h2, h3 {
	text-align: center;
}

.delete {
	.remove {
		margin-bottom: 1em;
	}
}

.focus {
	td {
		background-color: $color-emph;
		border-top: 1px solid $bgcolor-drk2;
		border-bottom: 1px solid $bgcolor-drk2;
	}
}

.form-login {
	label {
		display: block;
	}
}

.table-select {
	font-family: $font-face-head, serif;
	font-size: $font-size-lg;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0;
	@extend %linkslist;
	li {
		&:not(:first-child) {
			margin-left: $spacing-sm;
			/* &:before {
				content: '|';
				font-weight: 100;
				margin-right: $spacing-sm / 2;
			} */
		}
	}
}

.pagination {
	@extend %linkslist;
	li {
		&:not(:first-child) {
			margin-left: $spacing-sm;
		}
	}
}

.wr {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

.wr-time {
	color: $color-emph;
	text-shadow: 1px 1px 0 #000;
}

.current-map,
.players {
	a {
		position: relative;
		&:hover {
			ul {
				display: block;
			}
		}
	}
	ul {
		list-style-position: inside;
		position: absolute;
		top: $spacing-sm / 2;
		z-index: 1;
		font-size: $font-size-sm;
		display: none;
		width: 200px;
		margin: 0;
		padding: #{$spacing-sm / 2} 0;
		color: $color-text;
		background-color: $bgcolor-drk1;
		border: 1px solid #000;
		border-radius: $spacing-sm;
		box-shadow: 0 0 $spacing-sm rgba(0,0,0,.2),
					inset 0 1px $bgcolor-lgt1;
	}
}

.players {
	ul {
		right: 100%;
		margin-right: $spacing-sm;
	}
}

.current-map {
	ul {
		left: 100%;
		margin-left: $spacing-sm;
		li:first-child {
			list-style: none;
			text-decoration: underline;
			margin: 0 $spacing-sm * 1.5;
		}
	}
}

.servers {
	[data-game] {
		position: relative;
		padding-left: 2em;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: 1.5em;
			height: 1.5em;
			margin-top: -.75em;
			background-size: cover;
		}
	}
	[data-game='10'] {
		&:before {
			background-image: url(../img/icon-cs16.jpg);
		}
	}
	[data-game='730'] {
		&:before {
			background-image: url(../img/icon-csgo.jpg);
		}
	}
}

.type {
	img {
		margin-left: .5em;
	}
}

.w20 {
	width: 20%;
}

.date {
	display: block;
	position: relative;
}

.time {
	display: none;
}

.meter {
	position: relative;
	font-size: .75em;
	display: inline-block;
	width: 50%;
	height: .5em;
	line-height: .5em;
	background-color: $bgcolor-lgt3;
	border: 1px solid #000;
	box-shadow: inset 0 .25em 2px $bgcolor-lgt4;
	.bar {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		box-shadow: 1px 0 .2em rgba(30,30,30,.3),
					inset 0 -.25em .25em rgba(30,30,30,.3);
	}
	.diff,
	.perc {
		position: absolute;
		left: 100%;
		margin-left: .5em;
	}
	.perc {
		display: none;
	}
}

.uwr {
	width: 100%;
	background-color: #ce6aff;
	background-image: linear-gradient(to left, #ce6aff 0%, #c961fc 0%, #5fffff 34%, #66f962 65%, #ff6060 100%, #ff696a 100%);
}